@import 'vars';
@import 'loader';

h1, h2, h3, h4, h5, p, a, span {
    font-family: Roboto;

    &::selection {
        background-color: $primary-color;
        color: #fff;
    }

    &.center {
        text-align: center;
    }
}

img.placeholder {
    min-width: 100%;
    min-height: 100%;
    max-height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.primary {
    color: $primary-color;
}

i.fa-rocket {
    color: $primary-color;
}

.column.center {
    margin: 0 auto;
}

.post {
    margin-bottom: 28px;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 1rem;

    a {
        display: block;
        float: left;
        width: 100%;
        height: 100%;
    }
}

.sub-search {
    display: flex;

    input {
        display: flex;
        flex: 9;
    }
    button {
        margin-left: 2%;
        text-align: center;
    }
}
